#dashboard-container {
  width: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;

  padding-top: 2rem;

  #followers-container {
    width: 100%;
    height: 13.5rem;

    margin-top: 3rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.875rem;
  }

  #overview {
    color: var(--text);
    margin-top: 2rem;

    margin-bottom: 1rem;
  }

  #overview-container {
    width: 100%;
    height: 17rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1.875rem;
    grid-row-gap: 1.5rem;
  }

  @media (max-width: 375px) {
    width: 90%;

    #followers-container {
      height: 58.5rem;

      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;

      grid-row-gap: 1.5rem;

      margin-top: 2.875rem;
    }

    #overview-container {
      height: 69.5rem;

      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

      grid-row-gap: 1.5rem;
    }
  }

  @media (min-width: 376px) and (max-width: 860px) {
    width: 90%;

    #followers-container {
      height: 30rem;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      grid-row-gap: 1.5rem;

      margin-top: 2.875rem;
    }

    #overview-container {
      height: 30rem;

      grid-template-columns:  1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;

      grid-row-gap: 1.5rem;
    }
  }
}
